#baby-blue-text {
    color:cornflowerblue;
}

body {
    background-color:rgb(247, 223, 236);
}

.nav {
    list-style: none;
    text-align:center;
}

.nav li {
display:inline;
margin-right: 20px;
}

.copy {
    background-color:aquamarine;
    color:blanchedalmond;
text-align: center;

.container {
    width: 100000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
    background;
}
}